[Unit]
Description=fusion-producer
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=yes
WorkingDirectory=/etc/fusion-producer
ExecReload=kill -HUP $MAINPID
ExecStart=/usr/local/bin/fusion-producer \
    --config /etc/fusion-producer/config.yaml \
    --global-config /etc/fusion-producer/ton-global.config.json

[Install]
WantedBy=multi-user.target
